<h1> Profile Editor</h1>
<h2>{{title}}</h2>


<div *ngIf="displayEdit; else else_block" >
  <p>
    <label for="name" >Name:</label> <span>{{user.name}}</span>
  </p>
  <p>
    <label for="age" >Age:</label> <span>{{user.age}}</span>
  </p>
  <p>
    <label for="favoriteColor" >Favorite Color:</label> <span>{{user.favoriteColor}}</span>
  </p>
</div>

<ng-template #else_block>
  <form (ngSubmit) = "saveChanges()">
<label for="name" >Name:</label>
<p>
  <input name="name" id = "name" [(ngModel)]="formUser.name" >
  <label for="age" >Age:</label>
</p>
<p>
  <input name="age" id = "age" [(ngModel)]="formUser.age" >
  <label for="favoriteColor"  >Favorite Color:</label>
</p>
<p>
  <input name="favoriteColor" id = "favoriteColor" [(ngModel)]="formUser.favoriteColor" >

</p>
<button (click)="saveChanges()">Save Changes</button>

</form>

</ng-template>
<p>
  <button (click)="toggleEdit()">Toggle Edit</button>
</p>
  