<div *ngIf="displayEdit; else else_block">
  <!--ngModel will allow to edit value which we dont need it here as we just want to display-->
  <form (ngSubmit)="saveChanges()">
    <label for="name">Name: </label>
    <input class="marginName" type="text" name="name" id="name" [(ngModel)] = "formUser.name" >
    <br>
    <p>
    <label for="age" >Age: </label> 
    <input class="marginAge" type="text" name="age" id="age" [(ngModel)] = "formUser.age" >
    </p>
    <label for="favoriteColor" >Favorite Color : </label> 
    <input class="marginColor" type="text" name="favoriteColor" id="favoriteColor" [(ngModel)] = "formUser.favoriteColor" >
    <p>
   <button type="submit">Submit</button>
  </p>
  </form>
  <button (click)="toggleEdit()">Toggle Edit</button>
</div>


<ng-template #else_block>
<h1>Profile Editor</h1>
<h3>User Information:</h3>

    <table>
      <tr>
        <th>Name:</th>
        <input class="marginName" type="text" name="name" id="name" [(ngModel)] = "user.name" >
      </tr>
      <tr>
        <th>Age:</th>
        <input class="marginAge" type="text" name="age" id="age" [(ngModel)] = "user.age" >
      </tr>
      <tr>
        <th>Favorite Color:</th>
        <input class="marginColor" type="text" name="favoriteColor" id="favoriteColor" [(ngModel)] = "user.favoriteColor" >
      </tr>
    </table>

  <button (click)="toggleEdit()">Toggle Edit</button>
  </ng-template>
  