
    .center {
    margin :auto
    }
    
    .marginName {
    margin-left: 10px;    
    }
    
    .marginAge {
    margin-left: 10px;    
    }
    
    .marginColor {
    margin-left: 10px;    
    }
    
    .marginButton {
        margin-left: 30px;    
   }